* {
  font-family: sans-serif;
}

body {
  min-width: 375px; /* iPhone X width */
  max-width: 1080px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: auto;
  font-size: xxx-large;
  font-family: Lobster, sans-serif;
}

.picture {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 1rex;
}

.card {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  display: block;
  position: relative;
  margin: 1rex auto;
  width: 80%;
  max-width: 1080px;

  border: 0.1rex solid gainsboro;
  border-radius: 1rex;
  background-color: cornsilk;
  box-shadow: 0 0.5rex 1rex rgba(0,0,0,0.1);
  overflow: hidden;
}

.card p {
  font-family: sans-serif;
}

.card h2 {
  color: firebrick;
  text-align: center;
  font-family: Lobster, sans-serif;
}

.card h3, h4 {
  color: black;
  font-family: Roboto, sans-serif;
  font-style: italic;
}

.card object {
  height: 50vh;
  width: 100%;
  margin: auto;
}

.card:last-of-type {
  margin-bottom: 15%;
}

footer ul {
  padding: 0;
  text-align: center;
  list-style-position: inside;
}

footer ul li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 0.1rex solid black;
  display: inline;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: cornsilk;
}

footer ul li:last-child {
  border: none;
}

/* See notes on CSS positioning https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;

  text-align: center;
  color: cornsilk;
  background-color: firebrick;
}
