h1 {
  font-size: xxx-large;
  margin-bottom: 1rem;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.picture {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 8px;
}

.card {
  display: block;
  position: relative;
  margin: 10px auto;
  width: 80%;
  max-width: 1440px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: cornsilk;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card p {
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
}

.card h2 {
  color: firebrick;
  text-align: center;
  font-family: "Lobster", sans-serif;
}

/* See notes on CSS positioning https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 1rem;

  text-align: center;
  color: cornsilk;
  background-color: firebrick;
}

